In [1]:
import pandas as pd

In [2]:
notas = "./ratings.csv"
filmes = "./movies.csv"
dfFilmes = pd.read_csv(filmes)
dfNotas = pd.read_csv(notas)

In [3]:
dfNotas.describe()#Da várias informações relevantes sobre o df
# As porcentagens são divisoes por exemplo 50% está dividindo metade para um lado e metade para outro, ou
# seja, ordena os número e pega o valor do meio

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [4]:
dfFilmes.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [5]:
dfFilmes.dtypes #Verificando se o tipo condiz com o campo

movieId     int64
title      object
genres     object
dtype: object

In [6]:
dfNotas.dtypes #Verificando se o tipo condiz com o campo

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object